@import "bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: 'Hanken Grotesk', Helvetica, sans-serif;
}

/* About Me */
#profile-pic{
    transition: all 0.5s ease-in-out;
    max-height: 400px;
}
#profile-pic:hover{
    box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    -webkit-box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    transform: rotate(10deg);
    max-height: 500px;
}

/* My Work */
.project-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    justify-content: center;
    margin: 0 15%;
}    
@media(max-width:600px){
    .project-grid{
        display: grid;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    cursor: pointer;
    color: white; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.project-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(211, 211, 211, 0.3);
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: left;
    transition: top 0.5s ease-in-out;
}
.project-card:hover .overlay {
    top: 0;
}
.project-card h4 {
    font-family: 'Palatino, URW Palladio L, serif';
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin: 0;
    padding: 1rem;
}
.project-card:hover h4 {
    opacity: 1;
    transform: translateY(0);
}


.project-card-light {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    cursor: pointer;
    color: white; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.project-card-light .overlay-light {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: left;
    transition: top 0.5s ease-in-out;
}
.project-card-light:hover .overlay-light {
    top: 0;
}
.project-card-light h4 {
    font-family: 'Palatino, URW Palladio L, serif';
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin: 0;
    padding: 1rem;
}
.project-card-light:hover h4 {
    opacity: 1;
    transform: translateY(0);
}

/* ============================== */
/*       INDIVIDUAL PROJECTS      */
/* ============================== */

/* Quiz project */
#quiz-container{
    background-image: url('/assets/images/quiz_game/classroom.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;   
    display: grid;
    grid-template-columns: minmax(150px, 40%) 1fr;
    height: 100vh;
}
#q-a-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5% 10%;
}
#blackboard{
    width: 500px;
    height: 300px;
    background-color: black;
    color: white;
    font-family: "Gochi Hand";
    text-align: center;
    align-content: center;
    border: 1rem inset khaki;
    border-radius: 1%;
    margin: 10%;
    padding: 0 5%;
    box-shadow: 5px 5px 0px 0px black;
}
#character-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(150px, 35%) 1fr;
    height: 75%;
    bottom: -10%;
    position: relative;
    padding-left: 10%;
}
#speech-bubble{
    grid-column: 2 / 5;

    background-image: url('/assets/images/quiz_game/speechbubble.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    align-content: center;
    padding-bottom: 15%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#teacher{
    grid-column: 1 / 4;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;   
}

@media(max-width:800px){
    #quiz-container{
        display:flex;
        flex-flow: column-reverse;
    }
    #character-container{
        height: 64%;
        width: 69.0%;
        bottom: 25%;
        padding-left: 5%;
    }
    #q-a-container{
        height:80%;
        grid-template-rows: 70% 20% 10%;
    }
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}
#buttons-container > button{
    margin: 10%;
    width:150%;
}
#buttons-container{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.angry{
    animation: shake .13s 3;
}

.happy{
    animation: jump .13s 3;
}

@keyframes shake{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes jump{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/* Clock Project */
#clock-control-panel{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: #fff8dc;
    padding: 10px;
}
#clock-container{
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:start;
    padding: 20px 100px 0;
    background: #000036;
}
.clock-div{
    border: thick solid #996515;
    width: fit-content;
    height: fit-content;
    margin: 0 20px 20px;
    background: #fff8dc;
    padding: 5px;
    display: none;
}
.clock-face{
    width: 290px;
    height: 290px;
    background: no-repeat center/116% url("/public/assets/images/clockface.png");
    /* background-color: #fff; */
    border: 1.2rem solid rgb(46, 34, 15);
    border-radius: 50%;
    margin: 30px 30px 20px 30px;
    position: relative;
    box-shadow: 
        inset 30px 30px 80px rgba(0,0,0,0.2),
        inset 5px 5px 20px rgba(0,0,0,0.5), 
        10px 10px 30px rgba(0,0,0,0.4),
        30px 30px 50px rgba(0,0,0,0.4);
}
.clock-face .number {
    --rotationVal: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Geneva';
    transform: rotate(var(--rotationVal));
}
.clock-face .number span {
    display: inline-block;
    transform: rotate(calc(-1 * var(--rotationVal)));
    position: absolute;
    top: 16px;
    left: 47%;
    transform-origin: center;
}
.clock-face .number1{  --rotationVal: 30deg; }
.clock-face .number2{  --rotationVal: 60deg; }
.clock-face .number3{  --rotationVal: 90deg; }
.clock-face .number4{  --rotationVal: 120deg; }
.clock-face .number5{  --rotationVal: 150deg; }
.clock-face .number6{  --rotationVal: 180deg; }
.clock-face .number7{  --rotationVal: 210deg; }
.clock-face .number8{  --rotationVal: 240deg; }
.clock-face .number9{  --rotationVal: 270deg; }
.clock-face .number10{ --rotationVal: 300deg; }
.clock-face .number11{ --rotationVal: 330deg; }
.clock-face .number12{ --rotationVal: 360deg; }

.clock-face::before{
    content: '';
    width: 106%;
    height: 106%;
    border-radius: 50%;
    display: block;
    background: transparent;
    position:absolute;
    top: -3%;
    left: -3%;
    box-shadow: -3px -3px 9px rgba(255,255,255,0.8);
}

.clock-face::after{
    content: '';
    position: absolute;
    background-color: #000;
    z-index: 11;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 5px 6px rgba(0,0,0,0.4);
}

.clock-face .hand{
    --rotationVal: 30;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotationVal)*1deg));
    box-shadow: -6px 6px 6px rgba(0,0,0,0.4);
}
.clock-face .second-hand{
    width: 4px;
    height: 45%;
    background-color: red;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.4);
}
.clock-face .minute-hand{
    width: 8px;
    height: 40%;
    background-color: #000;
}
.clock-face .hour-hand{
    width: 10px;
    height: 35%;
    background-color: #000;
}
.clock-label{
    text-align: center;
    margin-bottom: 30px;
    background-color: #2f2516 ;
    margin: 0 20px 0;
    padding: 10px;
    position: relative;
    box-shadow: -2px -2px #4b320b;
    border-radius: 10px;
}
.clock-label h2, .clock-label h4 {
    color: #f1ecd7;
}
.flag{
    filter: drop-shadow(3px 3px black);
    padding: 10px 20px 0 20px;
    background-color: #232b2b;
}
/* Lava Lamp Project */
#lava-lamp-container{
    height: 100vh; 
    filter: contrast(30);
    position: relative;
}