@import "bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: 'Hanken Grotesk', Helvetica, sans-serif;
}

/* About Me */
#profile-pic{
    transition: all 0.5s ease-in-out;
    max-height: 400px;
}
#profile-pic:hover{
    box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    -webkit-box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 20px 21px -4px rgba(0,0,0,0.65);
    transform: rotate(10deg);
    max-height: 500px;
}

/* My Work */
.project-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    justify-content: center;
    margin: 0 15%;
}    
@media(max-width:600px){
    .project-grid{
        display: grid;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    cursor: pointer;
    color: white; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.project-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(211, 211, 211, 0.3);
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: left;
    transition: top 0.5s ease-in-out;
}
.project-card:hover .overlay {
    top: 0;
}
.project-card h4 {
    font-family: 'Palatino, URW Palladio L, serif';
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin: 0;
    padding: 1rem;
}
.project-card:hover h4 {
    opacity: 1;
    transform: translateY(0);
}


.project-card-light {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    cursor: pointer;
    color: white; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.project-card-light .overlay-light {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: left;
    transition: top 0.5s ease-in-out;
}
.project-card-light:hover .overlay-light {
    top: 0;
}
.project-card-light h4 {
    font-family: 'Palatino, URW Palladio L, serif';
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin: 0;
    padding: 1rem;
}
.project-card-light:hover h4 {
    opacity: 1;
    transform: translateY(0);
}

/* ============================== */
/*       INDIVIDUAL PROJECTS      */
/* ============================== */

/* Quiz project */
#quiz-container{
    background-image: url('/assets/images/quiz_game/classroom.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;   
    display: grid;
    grid-template-columns: minmax(150px, 40%) 1fr;
    height: 100vh;
}
#q-a-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5% 10%;
}
#blackboard{
    width: 500px;
    height: 300px;
    background-color: black;
    color: white;
    font-family: "Gochi Hand";
    text-align: center;
    align-content: center;
    border: 1rem inset khaki;
    border-radius: 1%;
    margin: 10%;
    padding: 0 5%;
    box-shadow: 5px 5px 0px 0px black;
}
#character-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(150px, 35%) 1fr;
    height: 75%;
    bottom: -10%;
    position: relative;
    padding-left: 10%;
}
#speech-bubble{
    grid-column: 2 / 5;

    background-image: url('/assets/images/quiz_game/speechbubble.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    text-align: center;
    align-content: center;
    padding-bottom: 15%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#teacher{
    grid-column: 1 / 4;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;   
}

@media(max-width:800px){
    #quiz-container{
        display:flex;
        flex-flow: column-reverse;
    }
    #character-container{
        height: 64%;
        width: 69.0%;
        bottom: 25%;
        padding-left: 5%;
    }
    #q-a-container{
        height:80%;
        grid-template-rows: 70% 20% 10%;
    }
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}
#buttons-container > button{
    margin: 10%;
    width:150%;
}
#buttons-container{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.angry{
    animation: shake .13s 3;
}

.happy{
    animation: jump .13s 3;
}

@keyframes shake{
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes jump{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/* Clock Project */
#clock-container{
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:start;
    padding: 20px 200px 0;
}
.clock-div{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin: 0 20px 20px;
}
.clock-face{
    width: 200px;
    height: 200px;
    background-color: white;
    border: thick double black;
    border-radius: 50%;
    margin: 50px;
}
.hour-labels{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.hour-hand{
    background-color: black;
    width: 5%;
    height: 40%;
    position: relative;
    bottom: -16%;
    left: 48%;
}
.minute-hand{
    background-color: black;
    width: 2%;
    height: 50%;
    position: relative;
    bottom: 34%;
    left: 48%;
}
.clock-label{
    text-align: center;
    margin-bottom: 30px;
}
/* Lava Lamp Project */
#lava-lamp-container{
    height: 100vh; 
    /* background-color: #8f00ff; */
    filter: contrast(30);
    position: relative;
}