---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'About Me';
---
<BaseLayout pageTitle={pageTitle}>
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/assets/images/profile.png" id="profile-pic" class="d-block mx-lg-auto img-fluid" alt="me">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Me</h1>
                <p class="lead mb-3">Hi, I'm Calum. I started out studying Fine Art; along the way I discovered a love for programming. That led me to complete a Masters in Interactive Media, and I've been combining creativity with technology ever since.</p>
                <h2 class="text-body fw-bold">Designer + Developer</h2>
                <p class="mb-3">I focus on building clean, user friendly digital experiences. I care about clarity, usability, and solving real problems through design. On the development side, I enjoy the full build process, from early ideas to finished product and the creative problem solving that comes with it.</p>
                <h2 class="text-body fw-bold">Get in Touch</h2>
                <p class="mb-3">You can reach me at <a href="mailto:calum.t.fenton@gmail.com">calum.t.fenton@gmail.com</a> or <a href="tel:+353860432063">+353-86-043-2063</a>.</p>
                <h4 class="text-body fw-light fst-italic">P.S: Based in Cork?</h4>
                <p class="mb-3 fw-light fst-italic">Let me know if you're local and I'd be happy to meet for a coffee!</p> 
            </div>
        </div>
      </div>

</BaseLayout>