---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'Portfolio';
---
<BaseLayout pageTitle={pageTitle}>

    <div class="container col-xxl-8 px-4">
        <div class="px-4 py-5 text-center">
            <img src="../../public/assets/images/laptop_cube.png" alt="">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Coming Soon!</h1>
        </div>
    </div>

<!--     
    <div class="container col-xxl-8 px-4">
        <div class="px-4 py-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Portfolio</h1>
            <p class="lead mb-5">Here is a selection of some of my work, showcasing skills in both UI/UX design as well as full-stack web-development. I break down each stage of the design and development process for each case study, to highlight the various aspects of the entire UX design process, from research to design, implementation and analysis.</p>
            <hr>
        </div>
    </div>
    
    <div class="container col-xxl-8 px-4">
    
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-10 mb-md-5">
                <a href="./collabdown.html" style="text-decoration: none;">
                <div class="card portfolio-card mb-3" >
                    <img src="../assets/portfolio/collabdown/home_view.PNG" style="height: 250px; object-fit:cover; object-position: left top;"  class="card-img-top" alt="CollabDown Web Application">
                    <div class="card-body">
                    <h5 class="card-title">Case Study: CollabDown</h5>
                    <p class="card-text">CollabDown played a key role in my Interactive Media MSc dissertation. I led the product design through every stage of the software development life cycle, from research and design to implementation, concluding with user testing and heuristic analysis. I took charge of both designing and programming the application.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-10 mb-md-5">
                <a href="./islabanking.html" style="text-decoration: none;">
                <div class="card portfolio-card mb-3" >
                    <img src="../assets/portfolio/isla_banking_app/islabankingmockups.png" style="height: 250px; object-fit:contain; object-position: 50% 50%;"  class="card-img-top" alt="CollabDown Web Application">
                    <div class="card-body">
                        <h5 class="card-title">Case Study: Isla Banking App</h5>
                        <p class="card-text">The Isla Banking App interface designs were crafted during my pursuit of a professional certificate in User Interface Design from the UX Design Institute. This project involved extensive research into successful designs across various fintech applications, leading to numerous iterations before finalizing the design. All aspects of the project were executed using Figma.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
      
    </div> -->

</BaseLayout>