---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'Resume';
---
<BaseLayout pageTitle={pageTitle}>
  
    <div class="container col-xxl-8 px-4">
        <div class="px-4 py-5 text-center mb-5">
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">My Resume</h1>

            <div class="col-lg-6 mx-auto mb-5">
                
                <h2 class="text-body fw-bold mb-4">Education</h2>
                
                <h4 class="text-body"><b>MSc Interactive Media</b> | University College Cork | First Class Honours (1:1)</h4>
                
                <p>Dissertation Project: &#39;A Web Application for Collaborative Markdown Document Creation&#39; - Created with PHP, MySQ and JavaScript. Designed the application, analysed it and performed user testing.</p>
                
                <h4 class="text-body"><b>BA Fine Art</b> | Munster Technological University | Second Class Honours (2:1)</h4>
                
                <p class="mb-4">Final Year Project: An audio-visual multimedia installation which included the use of laser-cut sculptures, 3D modelling and video animation.</p>
                
                <h4 class="text-body">Professional Certificate User Interface Design | UX Design Institute</h4>
                
                <h4 class="text-body">Postgraduate Diploma Digital Marketing | Munster Technological University</h4>
                
            </div>
            <div class="col-lg-6 mx-auto mb-5">
                
                <h2 class="text-body fw-bold mb-4">Experience</h2>
                
                <h4 class="text-body">Business Development Representative | Cloudera</h4>
                
                <p class="mb-4">Engaged in lead generation and outreach to Fortune 500 companies selling a data analytics platform software.</p>
                
                <h4 class="text-body">Full-stack Web Developer | Insight Multimedia</h4>
                
                <p class="mb-4">Worked on website development both front and back end for a Cork based web development company for SME.</p>
                
                <h4 class="text-body">Laboratory Demonstrator | University College Cork</h4>
                
                <p class="mb-4">Assisted lecturers in delivering computer laboratory classes. For Psychology &amp; Computing under-grad and Interactive Media post-grad modules.</p>
                
                <h4 class="text-body">Audio-Visual Media Services Technical Support | University College Cork</h4>
                
                <p class="mb-4">Provided technical support to faculty and students, troubleshooting hardware and software issues. Collaborated with a team to ensure the smooth operation of audiovisual equipment.</p>
                
            </div>
        </div>
    </div>
</BaseLayout>