---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'My Work';
---
<BaseLayout pageTitle={pageTitle}>

    <div class="container col-xxl-8 px-4">
        <div class="px-4 py-5 text-center">
            <img src="../../public/assets/images/laptop_cube.png" alt="">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Coming Soon!</h1>
        </div>
    </div>

</BaseLayout>