---
import '../styles/global.css';

const websiteLogo = '/assets/images/logo.png';
---
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" id="logo-link">
                <img class="bi me-2 mt-1" height="30" src={websiteLogo} alt="Portfolio website Logo" />
            </a>
        </div>
        
        <ul class="nav col-auto col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link ps-3 pe-2 link-body-emphasis" id="home-link">Home</a></li>
            <li><a href="/about/" class="nav-link px-2 link-body-emphasis" id="about-link">About</a></li>
            <li><a href="/portfolio/" class="nav-link px-2 link-body-emphasis" id="portfolio-link">Portfolio</a></li>
            <li><a href="/contact/" class="nav-link px-2 link-body-emphasis" id="contact-link">Contact</a></li>
            <li><a href="/resume/" class="nav-link ps-2 pe-3 link-body-emphasis" id="cv-link">Resume</a></li>
        </ul>
    </header>
</div>