---
const { textContent, imgBackground, linkURL, isLight } = Astro.props;
---

<div onclick=`location.href='${linkURL}';` class={isLight ? 'project-card-light' : 'project-card'} style=`background-image: url('${imgBackground}');`>
    <div class={isLight ? 'overlay-light' : 'overlay'}>
        <h4>{textContent}</h4>
    </div>
</div>