---
const { textContent, imgBackground, linkURL } = Astro.props;
---

<div onclick=`location.href='${linkURL}';` class='project-card' style=`background-image: url('${imgBackground}');`>
    <div class="overlay">
        <h4>{textContent}</h4>
    </div>
</div>