---
import BaseLayout from "../../layouts/baseLayout.astro";
const pageTitle = "Cadavre Exquis";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="paint-app-container">
        <div class="control-container col">
                
        </div>
        <div class="canvas-container col">
        </div>
    </div>

    <script src="../../scripts/paint.js" />
    <style>
        body{
            overflow: hidden;
        }
        #paint-app-container{
            min-height: 100vh;
            width: 100%;
            background-color: khaki;
            display: flex;
            flex-direction: row;
        }
        .canvas-container {
            padding: 30px;
        }
        .control-container {
            padding: 30px;
        }
    </style>

</BaseLayout>