---
import BaseLayout from "../../layouts/baseLayout.astro";
const pageTitle = "Lava-Lamp with Vector Blobs";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="lava-lamp-container" class="w-100 projectDiv"><canvas id="blob-canvas"></canvas></div>
    <script src="../../scripts/lavalamp.js" ></script>
    <style>
        /* body{
            overflow: hidden;
        } */
    </style>

</BaseLayout>