---
import BaseLayout from "../../layouts/baseLayout.astro";
const pageTitle = "Lava-Lamp with Anime.js";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="lava-lamp-container">

    </div>

    <script src="../../scripts/lavalamp1.js" ></script>
    <style>
        body{
            overflow: hidden;
        }
    </style>

</BaseLayout>