---
import BaseLayout from "../../layouts/baseLayout.astro";
const pageTitle = "Planet in Three.js";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="planet-container" class="w-100 projectDiv"></div>
    <script src="../../scripts/planet.js" ></script>
    <style>
        body{
            overflow: hidden;
        }
    </style>

</BaseLayout>