---
import BaseLayout from "../../layouts/baseLayout.astro";
const pageTitle = "Planet in Three.js";
---
<BaseLayout pageTitle={pageTitle}>

    <div id="planet-container" style="height: 100vh; width: 100%;"></div>
    <script src="../../scripts/planet.js" ></script>
    <style>
        body{
            overflow: hidden;
        }
    </style>

</BaseLayout>